{% assign crumbs = page.url | split: '/' %}

<div class="breadcrumbs">
    <span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
        <a itemprop='url' href="/"><span itemprop='title'>Home</span></a> &#187; 
    {% for crumb in crumbs offset: 1 %}
        {% if forloop.last %}
            <span itemprop='title'>{{ crumb | replace:'-',' ' }}</span>
        {% else %}
        {% assign crumb_limit = forloop.index | plus: 1 %}
            <a itemprop='url' href="/{{ crumb }}"><span itemprop='title'>{{ crumb | replace:'-',' ' }}</span></a> &#187; 
        {% endif %}
    {% endfor %}
    </span>
</div>