<footer id="footer-wrapper" itemscope="itemscope" itemtype="http://schema.org/WPFooter" role="contentinfo">

	<div class="footer-bottom">
	<div id="footer-sgwidget">
	<div class="footer-widget" id="footx1">
	<div class="footer section" id="footer1"><div class="widget Label" id="Label1">
	<h2>Label</h2>
	<div class="widget-content list-label-widget-content">
	</div>
	</div></div>
	</div>

	<div class="footer-widget" id="footx2">
	<div class="footer section" id="footer2"><div class="widget PopularPosts" id="PopularPosts1">
	<h2>Popular</h2>
	<div class="widget-content popular-posts">
	</div>
	</div></div>
	</div>
	<div class="footer-widget" id="footx3">
	<div class="footer no-items section" id="footer3">
	</div>
	</div>
	</div>
	</div>
</footer>
