<header id='header-wrapper' itemscope='' itemtype='http://schema.org/WPHeader'>

  <div id="head-logo">
	<a href="{{ site.baseurl }}/" itemprop="url" style="display:block">
		<img alt="{{ site.title }}" width="257" height="150" src="/assets/logo.png" style="display: block" />
	</a>
  </div>
  <div id="head-ads">
	<div class="top-ads">
		<!-- new header -->
		<ins class="adsbygoogle"
			 style="display:inline-block;width:728px;height:90px"
			 data-ad-client="ca-pub-7943122633795545"
			 data-ad-slot="5217753516"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
	</div>
  </div>

</header>
