<aside id="sidebar-wrapper-right" itemscope="" itemtype="http://schema.org/WPSideBar">
    
	<h3>Search here</h3>
		<form action="http://edablogs.com/search-result.html" id="cse-search-box">
		<div>
		<input type="hidden" name="cx" value="partner-pub-7943122633795545:3898700314" />
		<input type="hidden" name="cof" value="FORID:10" />
		<input type="hidden" name="ie" value="UTF-8" />
		<input type="text" name="q" class="input-txt" placeholder="Search ..." />
		<input type="submit" name="sa" value=" " class="input-btn" />
		</div>
		</form>

	<script type="text/javascript" src="http://www.google.com/coop/cse/brand?form=cse-search-box&amp;lang=en"></script>
	<h3>Sponsers</h3>
        <!-- new sidebar -->
        <ins class="adsbygoogle block"
             data-ad-client="ca-pub-7943122633795545"
             data-ad-slot="9787553910"
             data-ad-format="auto"></ins>
        <script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		  (adsbygoogle = window.adsbygoogle || []).push({
			google_ad_client: "ca-pub-7943122633795545",
			enable_page_level_ads: true
		  });
		</script>
	<h3>Categories</h3>
	<div class="categories_box inline">
		{% assign categories_list = site.categories limit:25 %}
		{% include JB/categories_list %}
	</div>
</aside>