<aside id="sidebar-wrapper-right" itemscope="" itemtype="http://schema.org/WPSideBar">
    <h3>Sponsers</h3>
        <!-- new sidebar -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-7943122633795545"
             data-ad-slot="9787553910"
             data-ad-format="auto"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
		<div class="top-search">
<form method="get" id="searchform" id="searchbox_013448987411204285426:-2p6-ghkn_c" action="search-result.html">
<div>
<input value="013448987411204285426:-2p6-ghkn_c" name="cx" type="hidden"/>
<input value="FORID:11" name="cof" type="hidden"/>
<input type="text" value="Search..." name="s" id="s" onfocus="defaultInput(this)" onblur="clearInput(this)" />
<input type="submit" id="searchsubmit" value=" " />
</div>
</form>
</div>
</aside>
