<style language="text/css">
#icon-socialmn {
    margin: 0;
    margin-right: -11px;
    list-style: none;
    float: right;
}
#icon-socialmn li {
    float: left;
    list-style: none;
    border-left: 1px solid #e5e5e5;
}
.socialmedia .sotwitter a {
    color: #2DAAE1;
	    background: url(http://edablogs.com/assets/icon/twitter.png) left top no-repeat;
}
.socialmedia a {
    display: inline-block;
    width: 20px;
    height: 29px;
    background-repeat: no-repeat;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #ffffff;
    line-height: 27px;
    height: 29px;
    padding: 7px 10px 0px 10px;
}
</style>

<ul class="sociico socialmedia" id="icon-socialmn">
<li class="sotwitter so"><a href="https://twitter.com/XDABlogs" target="_blank"><i class="fa fa-twitter fa-2x"></i></a></li>
<li class="sofacebook so"><a href="https://www.facebook.com/XDAblogsOfficial" target="_blank"><i class="fa fa-facebook fa-2x"></i></a></li>
<li class="sogoogle so"><a href="https://plus.google.com/+XDAblogss" target="_blank"><i class="fa fa-google-plus fa-2x"></i></a></li>
<li class="sorss so"><a href="https://feeds.feedburner.com/EdaBlogs" target="_blank"><i class="fa fa-rss fa-2x"></i></a></li>
<li class="soyoutube so"><a href="https://www.youtube.com/user/pawneshwergupta" target="_blank"><i class="fa fa-youtube-play fa-2x"></i></a></li>
<li class="soandroid so"><a href="https://play.google.com/store/apps/developer?id=Pawneshwer+Gupta" target="_blank"><i class="fa fa-android fa-2x"></i></a></li>
<li class="sopinterest so"><a href="https://www.pinterest.com/xdablogs/" target="_blank"><i class="fa fa-pinterest fa-2x"></i></a></li>
</ul>