<nav id="top-nav">
    <div id="top-box">
        <div id="top-date">
            <span class="top-site-name">{{ site.title }}</span>
            <span class="time-date">
                <span id="top-date"></span>
                <span id="top-clock"></span>
            </span>
        </div>
            
        <ul id="top-menu">
            <li><a href="/" title="home">Home</a></li>
            <li><a href="/page/about" title="About us">About</a></li>
            <li><a href="/page/contact-us" title="Contact us">Contact us</a></li>
            <li><a href="/page/privacy-policy" title="Privacy Policy">Privacy Policy</a></li>
            <li><a href="/sitemap.xml" title="Sitemap">Sitemap</a></li>
            <li><a href="/page/pawn-antivirus-remove-shortcut-virus" title="Pawn Antivirus">Pawn Antivirus</a></li>
        </ul>
    </div>
</nav>